URI_MONGO="<URI_MONGO>"

APP_ID_PUSHER="<APP_ID_PUSHER>"
KEY_PUSHER="<KEY_PUSHER>"
SECRET_PUSHER="<SECRET_PUSHER>"
CLUSTER_PUSHER="<CLUSTER_PUSHER>"

JWT_SECRET="<JWT_SECRET>"


PUBLIC_KEY_MERCADOPAGO="<PUBLIC_KEY_MERCADOPAGO>"
ACCESS_TOKEN_MERCADOPAGO="<ACCESS_TOKEN_MERCADOPAGO>"
CLIENT_ID_MERCADOPAGO="<CLIENT_ID_MERCADOPAGO>"
CLIENT_SECRET_MERCADOPAGO="<CLIENT_SECRET_MERCADOPAGO>"

URL_API="<URL_API>"
